/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}



/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
/* .btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} */


.appbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  padding: 0.5rem;
  background-color: #f7d736;
  color: black;
  box-shadow: 5px 4px 15px 0px rgba(0, 0, 0, 0.5);
}

.logo{
  width: 5.2%;
}

.subtitle{
  padding-top: 1.1%;
  padding-left: 0.5rem;
  font-size: 90%;
}

.form-card{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.5rem;
  margin-top: 1rem;
  color: black;
  width: 30%;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0.3rem;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.form-card-title{
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  border: none;
}

.autoresize{
  border: none;
  padding-top: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
}

.btn{
  padding: 0.5rem;
  background-color: #f7d736;
  border: none;
  border-radius: 0.3rem;
  color: black;
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  font-size: 75%;
}